@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: #210002;
  --text-color: #eee;
}

*::selection {
  background-color: #fff;
  color: #000;
}

/* Lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@font-face {
  font-family: "Neue Machina Inktrap";
  src: url("/fonts/Neue Machina Inktrap Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina Light";
  src: url("/fonts/NeueMachina-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GTWalsheim";
  src: url("/fonts/GT-Walsheim-Condensed-Thin-Trial-BF651b7fc72dc1c.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saolice";
  src: url("/fonts/saoliceregular-x39q0.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-saolice {
  font-family: "Saolice", sans-serif;
}

.Font-GTWalsheim {
  font-family: "GTWalsheim", sans-serif;
}

body {
  font-family: var(--font-berkshire-swash);
  background: #000;
}

body .font-neue-Light {
  font-family: "Neue Machina Light", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
}

.bg-image {
  background-image: url("/Hero_Banner-topaz-standard_v2-2x.jpg");
  background-size: cover;
  background-position: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Images Show */

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
}

.hero .img {
  width: 50%;
  aspect-ratio: 1;
}

.footer {
  height: 50vh;
  align-items: flex-start;
}

.footer a {
  font-size: 4vw;
  color: #fff;
}

.main {
  width: 100vw;
  height: 150vh;
  flex-direction: column;
}

.row {
  position: relative;
  width: 100%;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.card {
  position: relative;
  width: 40%;
  height: 360px;
  border-radius: 0.75em;
  overflow: hidden;
  will-change: transform;
}

.main-content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
  border: 2px solid #fff;
  border-radius: 100%;
  overflow: hidden;
  transform: scale(0);
}

.copy {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  position: relative;
  margin: 0.5em 0;
  width: max-content;
  height: 28px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.line p {
  position: relative;
  font-size: 24px;
  transform: translateY(30px);
}

@media (max-width: 900px) {
  .card {
    width: 50%;
    height: 240px;
  }
}

.hero-img {
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}

.clip-path-polygon-0-0-100-0-100-100-0-100 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.bg-image {
  background-image: url("/assets/TestWavy.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.banner .bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: 0.1s;
}

.banner h1 {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16rem;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.animation-show {
  transform: translateY(50px);
  opacity: 0;
  transition: 0.7s;
}

.active .animation-show {
  transform: translateY(0);
  opacity: 1;
}

.active .animation-show:nth-child(2) {
  transition-delay: 0.3s;
}

.active .animation-show:nth-child(3) {
  transition-delay: 0.6s;
}

.active .animation-show:nth-child(4) {
  transition-delay: 0.9s;
}

.library {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .banner h1 {
    font-size: 5rem;
  }

  .library {
    grid-template-columns: repeat(2, 1fr);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

