.main {
    color: #fff;
    height: 100vh;
    padding: 2rem;
    margin-top: 25vh;
    margin-bottom: 25vh;
  }
  
  .title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
  }
  
  .doubleContainer {
    max-width: 1400px;
    margin: 0 auto;
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 2rem;
    }
  }